<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="ion-text-center">
            Volltext Suche
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <form action="">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <fieldset class="form-inline">
                        <div class="form-group">
                            <input id="typeahead-http" type="text" class="form-control mx-sm-3"
                                   [class.is-invalid]="searchFailed" [(ngModel)]="model" [ngbTypeahead]="search"
                                   placeholder="Adresse Suche" name="model"
                                   (ngModelChange)="fillTemplate()"
                                   autocomplete="off"/>
                            <small *ngIf="searching" class="form-text text-muted">searching...</small>
                            <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.
                            </div>
                        </div>
                    </fieldset>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-xs="12" size-md="6">
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="stacked" color="primary">Ort
                                    <ion-text color="danger">*</ion-text>
                                </ion-label>
                                <ion-input [(ngModel)]="ort" name="ort"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="stacked" color="primary">Strasse
                                    <ion-text color="danger">*</ion-text>
                                </ion-label>
                                <ion-input [(ngModel)]="strasse" name="strasse"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="stacked" color="primary">Hausnummer
                                    <ion-text color="danger">*</ion-text>
                                </ion-label>
                                <ion-input [(ngModel)]="nr" name="nr"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size-xs="12" size-md="6">
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="stacked" color="primary">PLZ
                                    <ion-text color="danger">*</ion-text>
                                </ion-label>
                                <ion-input [(ngModel)]="plz" name="plz"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="stacked" color="primary">Zusatzaddresse</ion-label>
                                <ion-input [(ngModel)]="addresszusatz" name="addresszusatz"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="stacked" color="primary">Land
                                    <ion-text color="danger">*</ion-text>
                                </ion-label>
                                <ion-input [(ngModel)]="land" name="land"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin">Speichern</ion-button>
        </div>
    </form>

</ion-content>
